body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
*:focus {
    outline: 2px dotted #FF7500;
    outline-offset: 3px;
}
/* HEADER */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    transition: opacity 0.4s ease;
}
.logo-link:hover {
    opacity: 0.8;
}
.logo-link:active {
    opacity: 0.6;
}
.site-header-actions {
    display: flex;
    align-items: center;
}
/* SITENAV */
.nav-list {
    display: flex;
    list-style: none;
}
.nav-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}
.nav-link:hover {
    color: #FF7500;
}
.nav-link:active {
    opacity: 0.6;
}
.main-link {
    background-color: #FF7500;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: opacity 0.4s ease;
}
.main-link:hover {
    opacity: 0.8;
}
.main-link:active {
    opacity: 0.6;
}
/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: #ffffff;
}
.hero-content {
    width: 390px;
}
.orange-line {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}
.hero-heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}
.hero-img {
    width: 510px;
    height: 510px;
}
/* FEATURES */
.features-heading {
    width: 435px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
}
.features-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.features-item {
    width: 340px;
}
.feature-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}
.features-title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
/* PROMO */
.promo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
}
.promo-content {
    width: 440px;
}
.promo-heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #ffffff;
}
.promo-text {
    color: #ffffff;
}
.promo-text strong {
    color: #FF7500;
}
.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}
/* SITE-FOOTER */
.site-footer {
    background-color: #F8F8F8;
}
.site-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.socials-link {
    color: #252420;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}
.socials-link:hover {
    color: #FF7500;
}
.socials-link:active {
    opacity: 0.6;
}
.site-footer-divider {
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}
.site-footer-links {
    display: flex;
    justify-content: space-between;
}
.links-list {
    list-style: none;
    width: 224px;
    line-height: 19px;
}
.links-link {
    text-decoration: none;
    color: #252420;
    transition: color 0.4s ease,
        opacity 0.4s ease   ;
}
.links-link:hover {
    color: #FF7500;
}
.links-link:active {
    opacity: 0.6;
}
